body{
  background-color: #34C94B;
  overflow-x: hidden;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #34C94B;
  padding: 20px 0px 20px 0px;
}
.search{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.search button img{
  width: 20px;
  height: 20px;
}
.search button{
  padding: 6px !important;
  border-radius: 0 5px 5px 0;
}
.feedbackBtn{
  background-color: #121212;
  color: #34C94B;
  border-radius: 5px;
  font-family: 'Poppins';
  cursor: pointer;
}
.feedbackBtn:hover{
  cursor: pointer;
}
button{
  cursor: pointer;
}
button:hover{
  cursor: pointer;

}
input{
  border-radius: 5px 0 0 5px;

}
input, button{
  border: 1px solid;
  padding: 10px;
  background-color: #ffff;
}

.hero-main{
  height: 50vh;
  background-color: #121212;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section{
  width: 70%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

}
h2{
  font-size: 30px;
}
.hero-section img{
  width: 300px;
}


/* Card styles */


.custom-card{
  margin: 0 10px;
  color: #ffff;
}
/* CarouselSec.css */
.top-songs{

  background-color: #121212;
}
.carousel{
  display: flex;
  align-items: center;
  justify-content: center;
}
/* #slider-container{
  width: 70%;

} */
.slider-container{
  width: 96%;
}
.top-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffff;
  padding: 15px;
}
.top-head button{
  background-color: #121212;
  color: #34C94B;
  border: 0;
}
.songs{
  background-color: #121212;
  color: #ffff;
}
